
.header{
    background-color: blue;
    display: flex;
    justify-content: center;
}
.headercontainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}
.headerlist{
    display: flex;
    gap: 30px;
}